## Preprocessing
### Based on F17, optimzer is adam

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME', 'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,N,5000,1
1,T3,Independent,C2000,N,108590,1
2,T5,CompanySponsored,C3000,N,5000,0
3,T3,CompanySponsored,C2000,N,6692,1
4,T3,Independent,C1000,N,142590,1
...,...,...,...,...,...,...
34294,T4,Independent,C1000,N,5000,0
34295,T4,CompanySponsored,C3000,N,5000,0
34296,T3,CompanySponsored,C2000,N,5000,0
34297,T5,Independent,C3000,N,5000,1
34298,T3,Independent,C1000,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = application_type_counts[
    application_type_counts < cutoff_value].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greaterthan_1 = classification_counts[classification_counts > 1]
classification_counts_greaterthan_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

cutoff_value = 100  
classifications_to_replace = classification_counts[
    classification_counts < cutoff_value].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
# Generate the dummies for each categorical column
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C2700,CLASSIFICATION_C3000,CLASSIFICATION_C4000,CLASSIFICATION_C5000,CLASSIFICATION_C7000,CLASSIFICATION_Other,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

/var/folders/kh/xdg24th513g9kjvzg1lqylsc0000gn/T/ipykernel_68938/2823290356.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(['IS_SUCCESSFUL'],1).values

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 70
hidden_nodes_layer3 = 50
hidden_nodes_layer4 = 40
hidden_nodes_layer5 = 20


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Metal device set to: Apple M2
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               3100

 dense_1 (Dense)             (None, 70)                7070

 dense_2 (Dense)             (None, 50)                3550

 dense_3 (Dense)             (None, 40)                2040

 dense_4 (Dense)             (None, 20)                820

 dense_5 (Dense)             (None, 1)                 21

=================================================================
Total params: 16,601
Trainable params: 16,601
Non-trainable params: 0
_________________________________________________________________

In [13]:
# # Compile the model
# nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
from tensorflow.keras.optimizers import Adam

optimizer = Adam(learning_rate=0.001)  # adjust the learning rate as needed

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer=optimizer, metrics=["accuracy"])

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.
WARNING:absl:There is a known slowdown when using v2.11+ Keras optimizers on M1/M2 Macs. Falling back to the legacy Keras optimizer, i.e., `tf.keras.optimizers.legacy.Adam`.

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100

2023-05-19 19:29:48.026557: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

804/804 [==============================] - 5s 5ms/step - loss: 0.5814 - accuracy: 0.7173
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5720 - accuracy: 0.7211
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5703 - accuracy: 0.7220
Epoch 4/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5694 - accuracy: 0.7227
Epoch 5/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5689 - accuracy: 0.7230
Epoch 6/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5689 - accuracy: 0.7229
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5678 - accuracy: 0.7239
Epoch 8/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5678 - accuracy: 0.7238
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5678 - accuracy: 0.7237
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5673 - accuracy: 0.7243
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5668 - accuracy: 0.7238
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5669 - accuracy: 0.7242
Epoch 13/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5664 - accuracy: 0.7241
Epoch 14/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5662 - accuracy: 0.7241
Epoch 15/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5660 - accuracy: 0.7240
Epoch 16/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5654 - accuracy: 0.7245
Epoch 17/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5655 - accuracy: 0.7253
Epoch 18/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5654 - accuracy: 0.7249
Epoch 19/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5649 - accuracy: 0.7250
Epoch 20/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5646 - accuracy: 0.7252
Epoch 21/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5645 - accuracy: 0.7252
Epoch 22/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5646 - accuracy: 0.7252
Epoch 23/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5643 - accuracy: 0.7259
Epoch 24/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5638 - accuracy: 0.7259
Epoch 25/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5636 - accuracy: 0.7259
Epoch 26/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5635 - accuracy: 0.7263
Epoch 27/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5633 - accuracy: 0.7266
Epoch 28/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5631 - accuracy: 0.7262
Epoch 29/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5629 - accuracy: 0.7268
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5629 - accuracy: 0.7272
Epoch 31/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5629 - accuracy: 0.7269
Epoch 32/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5622 - accuracy: 0.7270
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5627 - accuracy: 0.7267
Epoch 34/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5625 - accuracy: 0.7269
Epoch 35/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5624 - accuracy: 0.7266
Epoch 36/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5626 - accuracy: 0.7273
Epoch 37/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5623 - accuracy: 0.7275
Epoch 38/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5625 - accuracy: 0.7272
Epoch 39/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5618 - accuracy: 0.7269
Epoch 40/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5620 - accuracy: 0.7268
Epoch 41/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5624 - accuracy: 0.7275
Epoch 42/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5621 - accuracy: 0.7267
Epoch 43/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5631 - accuracy: 0.7257
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5619 - accuracy: 0.7278
Epoch 45/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5620 - accuracy: 0.7279
Epoch 46/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5618 - accuracy: 0.7270
Epoch 47/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5616 - accuracy: 0.7273
Epoch 48/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5618 - accuracy: 0.7271
Epoch 49/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5612 - accuracy: 0.7277
Epoch 50/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5621 - accuracy: 0.7274
Epoch 51/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5615 - accuracy: 0.7273
Epoch 52/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5617 - accuracy: 0.7277
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5612 - accuracy: 0.7277
Epoch 54/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5610 - accuracy: 0.7280
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5615 - accuracy: 0.7282
Epoch 56/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5615 - accuracy: 0.7274
Epoch 57/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5612 - accuracy: 0.7271
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5616 - accuracy: 0.7271
Epoch 59/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5618 - accuracy: 0.7271
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5614 - accuracy: 0.7280
Epoch 61/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5609 - accuracy: 0.7277
Epoch 62/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5611 - accuracy: 0.7272
Epoch 63/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5611 - accuracy: 0.7282
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5611 - accuracy: 0.7266
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5609 - accuracy: 0.7283
Epoch 66/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5609 - accuracy: 0.7278
Epoch 67/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5607 - accuracy: 0.7276
Epoch 68/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5610 - accuracy: 0.7278
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5610 - accuracy: 0.7279
Epoch 70/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5616 - accuracy: 0.7277
Epoch 71/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5621 - accuracy: 0.7262
Epoch 72/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5623 - accuracy: 0.7266
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5614 - accuracy: 0.7274
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5612 - accuracy: 0.7266
Epoch 75/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5611 - accuracy: 0.7271
Epoch 76/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5615 - accuracy: 0.7276
Epoch 77/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5609 - accuracy: 0.7279
Epoch 78/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5607 - accuracy: 0.7279
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5609 - accuracy: 0.7278
Epoch 80/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5608 - accuracy: 0.7279
Epoch 81/100

804/804 [==============================] - 4s 5ms/step - loss: 0.5611 - accuracy: 0.7274
Epoch 82/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5610 - accuracy: 0.7280
Epoch 83/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5609 - accuracy: 0.7273
Epoch 84/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5601 - accuracy: 0.7282
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5604 - accuracy: 0.7285
Epoch 86/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5611 - accuracy: 0.7276
Epoch 87/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5604 - accuracy: 0.7290
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5607 - accuracy: 0.7278
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5606 - accuracy: 0.7283
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5604 - accuracy: 0.7280
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5605 - accuracy: 0.7288
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5602 - accuracy: 0.7286
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5601 - accuracy: 0.7285
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5604 - accuracy: 0.7280
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5606 - accuracy: 0.7278
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5603 - accuracy: 0.7285
Epoch 97/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5606 - accuracy: 0.7281
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5606 - accuracy: 0.7282
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5603 - accuracy: 0.7286
Epoch 100/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5603 - accuracy: 0.7285

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5675 - accuracy: 0.7273 - 867ms/epoch - 3ms/step
Loss: 0.5675086379051208, Accuracy: 0.7273469567298889

In [ ]:
# Save the model
nn.save("charity_learning_vF6")